$black: #000;
$black_2: #303030;
$white: #fff;
$orange: #ff9933;
$off-white: #faf9f6;
$font-family_1: "Noto sans", sans-serif;
$font-family_2: "Raleway", sans-serif;
$font-family_3: "Open sans", sans-serif;
$font-family_4: "Inter", sans-serif;
$font-family_5: "Space Mono", sans-serif;
$font-family_6: "Source Code Pro", sans-serif;
$background-grey: #eeeeee;
$xsmall: 320px;
$small: 480px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;

.container-contact {
  display: flex;
  // align-items: center;
  justify-content: center;
  font-family: $font-family_3;
  color: $white;
  margin-top: 25px;
}

.contact-box {
  // background-color: #ddd;
  padding: 1rem;
  border-radius: 5px;
  // border: 1px solid #bbb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.left {
  width: 25vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 5px;
  gap: 1rem;
}

.right {
  width: 25vw;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.lead {
  font-family: $font-family_4;
  text-align: center;
  font-size: 1.1rem;
}

.left img {
  width: inherit;
  height: 23rem;
  object-fit: cover;
  // transform: scale(2.3);
}

.right .contact {
  // display: flex;
  gap: 1rem;
  margin-right: 1rem;
}

.form,
.address {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0;
}

.form input,
textarea {
  width: 100%;
  outline: none;
  background: none;
  border: none;
  border-bottom: 2px solid $off-white;
  padding: 10px 0;
  margin: 5px 0;
}

.usersubmit input {
  background-color: blueviolet;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  width: min-content;
  padding: 15px;
  margin-bottom: 0;
  cursor: pointer;
  transition: 0.3s;
}

.usersubmit input:hover {
  background-color: #f45;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h4 {
  margin-bottom: 5px;
}

@media screen and (max-width: 700px) {
  .card {
    flex-direction: column;
  }

  .left {
    width: 60vw;
    height: 40vh;
  }
}

@media screen and (max-width: 350px) {
  .container {
    overflow: hidden;
  }
  .left {
    height: 20vh;
  }
  .contact {
    flex-direction: column;
  }
}
