$font-family_1: "Noto sans", sans-serif;
$font-family_2: "Raleway", sans-serif;
$font-family_3: "Open sans", sans-serif;
$font-family_4: "Inter", sans-serif;
$font-family_5: "Space Mono", sans-serif;
$font-family_6: "Source Code Pro", sans-serif;
$font-family_7: "Fugaz One", sans-serif;
$xsmall: 320px;
$small: 480px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;

.reels {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
  // margin: 0px;
  padding: 2px;
  transition: 0.3s;

  &:hover &__image {
  }

  &__column {
    // display: grid;
    // grid-template-columns: repeat(3, 35rem);
    display: flex;
    flex-direction: row;
    width: 90%;
  }

  &__linkOdd {
    width: 70%;
  }

  &__link {
    margin: 10px;
    overflow: hidden;

    &:hover {
      .reels__image {
      }

      .reels__caption {
        opacity: 1;
      }
    }
  }

  &__thumb {
    position: relative;
  }

  &__image {
    display: block;
    width: 100%;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__caption {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    font-family: $font-family_7;
    text-shadow: 0.1em 0.1em 0 hsl(200 50% 30%);
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: hsl(200 50% 90%);
    opacity: 0;
    transition: 0.3s;
  }
}
